.text{
    text-align: left;
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.center{
    text-align: center;
    color: white;
    background-color: turquoise;
    font-size: 60px;
    font-weight: bold;

}
